/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  background: white;
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', Arial, sans-serif;
  color: #4a4a4a;
  font-weight: 300;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 0.9rem;
  line-height: 1.7;
}

a {
  text-decoration: none;
  color: #555151;
}

.sidebar-brand {
  position: fixed;
  z-index: 100;
  width: 10%;
  height: 100vh;
  background: #232323;
  padding-top: 50px;
}

.sidebar-brand .social a {
  color: white;
  transition: all 0.3s ease-in-out;
}

.sidebar-brand .social a:hover {
  color: #bf9249;
}

.sidebar-brand .social a .fa {
  font-size: 2rem;
  display: block;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.sidebar-brand img {
  height: 100px;
  display: none;
}

.home,
.about,
.gallery,
.menu,
.contact,
.reservations {
  margin-left: 10%;
  height: 100%;
  display: block;
}

.home {
  height: 500px;
}

.home .left-content {
  width: 50%;
  height: 100%;
  float: left;
  padding: 50px;
  position: relative;
}

.home .left-content h2 {
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 2.6rem;
  line-height: 0.8;
}

.home .left-content h2 span {
  font-weight: 700;
  font-size: 4.5rem;
  letter-spacing: 1px;
  border-bottom: 3px solid black;
}

.home .left-content p {
  margin-top: 20px;
  width: 75%;
}

.home .left-content #btn-book-top {
  background: #9d331f;
  padding: 30px 50px;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: absolute;
  bottom: 100px;
  right: -103px;
  transition: all 0.3s ease-in-out;
  color: white;
}

.home .left-content #btn-book-top:hover {
  background: #bf9249;
}

.home .left-content nav {
  margin-bottom: 50px;
}

.home .left-content nav li {
  display: inline-block;
}

.home .left-content nav li a {
  margin-right: 5px;
  padding: 5px;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.home .left-content nav li a:hover {
  color: #8e0810;
}

.home .left-content .box-next {
  background: rgba(238, 238, 238, 0.623);
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 35px 50px;
}

.home .left-content .box-next a {
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  width: 150px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: black;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.home .left-content .box-next a:hover {
  color: #9d331f;
  border-bottom: 2px solid #9d331f;
}

.home .left-content .box-next a .fa {
  margin-left: 5px;
}

.home .right-content {
  width: 50%;
  height: 100%;
  background: url('https://i.ibb.co/dmqfc5B/topheaderimg.png');
  background-size: cover;
  float: right;
}

.about {
  height: 350px;
}

.about .left-content {
  float: left;
  width: 50%;
  padding: 50px;
}

.about .left-content h3 {
  margin-bottom: 20px;
  position: relative;
}

.about .right-content {
  float: right;
  width: 50%;
  padding: 50px;
}

.about .right-content img {
  height: 80px;
  width: 80px;
  float: right;
}

.gallery {
  background: #eee;
  height: 550px;
}

.gallery .gallery-carousel {
  width: 70%;
  height: 100%;
  float: left;
}

.super-hero-image img {
  height: 550px;
}

.gallery .chefs-special {
  width: 30%;
  float: right;
}

.gallery .chefs-special h3 {
  text-align: center;
  margin-top: 50px;
}

.gallery .chefs-special .circle {
  display: block;
  margin: 40px auto;
  width: 110px;
  height: 110px;
  background: #e6e7ed;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.gallery .chefs-special .circle:hover {
  opacity: 0.7;
}

.menu {
  padding-top: 50px;
  height: 600px;
  text-align: center;
}

.menu h3 {
  margin-bottom: 10px;
}

.menu h4 {
  margin: 20px 0 10px 0;
  font-weight: 500;
}

.menu p {
  font-size: 0.9rem;
}

.menu span {
  margin-left: 50px;
}

.menu button {
  font-family: 'Fira Sans', Arial, sans-serif !important;
  font-weight: 300;
  border: 0;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  width: 220px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: black;
  text-transform: uppercase;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu button:hover {
  color: #9d331f;
  border-bottom: 2px solid #9d331f;
}

.menu button .fa {
  margin-left: 5px;
}

.menu .left-menu {
  width: 50%;
  float: left;
  padding: 50px;
}

.menu .right-menu {
  width: 50%;
  float: right;
  padding: 50px;
}

.contact {
  background: #eee;
  padding-top: 50px;
  text-align: center;
  height: 450px;
}

.contact h3 {
  margin-bottom: 20px;
}

.contact p {
  line-height: 1.7;
}

.contact .fa {
  margin-bottom: 20px;
  font-size: 2rem;
}

.contact .location {
  float: left;
  width: 50%;
  padding: 50px;
}

.contact .hours {
  float: right;
  width: 50%;
  padding: 50px;
}

.reservations {
  padding: 50px;
  text-align: center;
  height: 700px;
}

.reservations h2 {
  margin-bottom: 50px;
}

.reservations input, select {
  padding: 10px;
  font-size: 1.1rem;
  margin-top: 20px;
  width: 264px !important;
}

.reservations button {
  background: #eee;
  padding: 15px 30px;
  font-size: 1.2rem;
  text-transform: uppercase;
  width: 401px;
  cursor: pointer;
  border: none;
}

.datepick-inline {
  margin-top: 50px;
  display: block;
  margin: 0 auto;
}

.wpbc_structure_form {
  margin-top: 80px;
}

.btn {
  font-family: 'Fira Sans', Arial, sans-serif !important;
  font-weight: 300;
  font-size: 1.2rem;
  letter-spacing: 1px;
  background: #9d331f !important;
  color: white;
  margin-top: 20px;
  margin-bottom: 50px !important;
  width: 282px !important;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background: #bf9249 !important;
}

.reservations input {
  margin-bottom: 20px;
  background-image: none !important;
}

.reservations label {
  margin: 10px 0;
}

.reservations select {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 0;
  cursor: pointer;
}

/* MEDIA QUERIES */

@media screen and (max-width: 900px) {
  .sidebar-brand {
    height: 100px;
    width: 100vw;
    margin-top: -100px;
  }

  .sidebar-brand .social {
    margin-right: 50px;
  }

  .sidebar-brand .social .fa {
    display: inline-block !important;
    float: right;
    margin-left: 20px;
    margin-top: -20px;
  }

  .sidebar-brand .brand img {
    height: 80px;
    display: inline-block;
    margin-top: -40px;
    margin-left: 45px;
  }

  .home,
  .about,
  .gallery,
  .menu,
  .contact,
  .reservations {
    margin-left: 0%;
  }

  .home {
    margin-top: 100px;
  }
}

@media screen and (max-width: 790px) {
  .home {
    height: 87%;
  }

  .home .left-content {
    width: 100%;
  }

  .home .left-content .box-next {
    width: 50%;
    text-align: center;
  }

  .home .left-content #btn-book-top {
    width: 50%;
    bottom: 0;
    right: 0;
    padding: 40px 50px;
    text-align: center;
  }

  .home .right-content {
    display: none;
  }

  .about {
    height: 300px;
  }

  .menu {
    height: 700px;
  }

  .reservations {
    height: 700px;
  }

  .btn {
    width: 296px !important;
  }
}

@media screen and (max-width: 635px) {
  h1 {
    font-size: 2rem;
  }

  .sidebar-brand .social a .fa {
    font-size: 1.5rem;
    margin-top: -10px;
  }

  .about {
    height: 70%;
    display: block;
  }

  .about .left-content {
    width: 100%;
  }

  .about .right-content {
    width: 100%;
    margin-top: -80px;
  }

  .gallery {
    height: 100%;
  }

  .gallery .gallery-carousel {
    display: none;
  }

  .gallery .chefs-special {
    width: 100%;
  }

  .menu {
    height: 140%;
  }

  .menu .left-menu {
    width: 100%;
  }

  .menu .right-menu {
    width: 100%;
  }

  .contact {
    height: 100%;
  }

  .contact .location {
    width: 100%;
  }

  .contact .hours {
    width: 100%;
  }

  .reservations {
    height: 700px;
  }

  .reservations input,
  .reservations button {
    width: 100%;
  }
}

@media screen and (max-width: 548px) {
  .home .left-content .box-next {
    padding: 35px 0px;
  }
  
  .home #btn-book-top {
    padding: 40px 45px !important;
  }

  .about {
    height: 650px;
  }

  .reservations {
    height: 700px;
  }

  .reservations input {
    font-size: 0.9rem;
  }
}
